<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Favorite Color</title>
</head>
<script>
    const createUser = async () => {
        const usernameValue = document.getElementById('username').value;
        const colorValue = document.getElementById('colorSelect').value;

        console.log('Sending create user request...');
        console.log('username : ' + usernameValue);
        console.log('color : ' + colorValue);

        const userCreateResponse = await fetch('/users', {
            method: 'POST',
            headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
            },
            body: JSON.stringify(
                {   
                    username: usernameValue,
                    color: colorValue
                })
        });
        const user = await userCreateResponse.json();
        changeBackgroundColor(user.color);
    }
    
    const searchUser = async () => {
        const userSearch = document.getElementById('search');
        const userName = userSearch.value;
        console.log('submitting search for user....')
        const searchUserResponse = await fetch(`http://localhost:3000/search?search=${userName}`)
        if(searchUserResponse.status === 200) {
            const user = await searchUserResponse.json();
            console.log(user);
            changeBackgroundColor(user.color);
        } else {
            console.log('No user found');
        }
    }

    const changeBackgroundColor = (color) => {
        document.getElementById('body').style.backgroundColor = color;
    }
</script>

<body id="body">
    <h1>My Favorite Color</h1>
    <form action="/users" id="userCreate" method="POST">
        <label for="username">Create Username and Color:</label>
        <input type="text" name="username" placeholder="username" id="username"/>
        <select name="color" id="colorSelect">
            <% for(let color of colors) {%> 
                <option value="<%=color%>"><%=color%></option>
            <% } %> 
        </select>
    </form>
    <button onclick="createUser()">Submit</button>
    <br>
    <br>
    <br>


    <form action="/search" id="userSearch" method="GET" onsubmit="searchUser()">
        <label for="search">Search Username:</label>
        <input type="text" name="search" placeholder="username" id="search">
    </form>
    <button onclick="searchUser()">Submit</button>

    <br>
    <br>
    <br>
    <button onclick="changeBackgroundColor('white')">Reset Background Color</button>

</body>
</html>