<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Favorite Color</title>
</head>

<body id="body">
    
    <h1>My Favorite Color</h1>
    <script>
        //For Create User Feature
        const userCreateForm = document.querySelector('#userCreate');
        userCreateForm.addEventListener('submit', function (e) {
            e.preventDefault();
            let form = e.target
            form.submit()
            const colorSelect = document.getElementById('colorSelect');
            const color = colorSelect.value;
            document.getElementById('body').style.backgroundColor = color;
            })
        
        //For Search User Feature
        const userSearchForm = document.querySelector('#userSearch');
        userSearchForm.addEventListener('submit', function (e) {
            e.preventDefault();
            })
        const searchUser = async () => {
            const userSearch = document.getElementById('search');
            const userName = userSearch.value;
            console.log('submitting search for user....')
            const resProm = await fetch(`http://localhost:3000/search?search=${userName}`)
            const userColor = await resProm.json()
            console.log(userColor)
            document.getElementById('body').style.backgroundColor = userColor;
            }
    </script>
    
    
        <form action="/users" id="userCreate" method="POST">
        <label for="username">Create Username and Color:</label>
        <input type="text" name="username" placeholder="username" id="username"/>
        <select name="color" id="colorSelect">
            <% for(let color of colors) {%> 
                <option value="<%=color%>"><%=color%></option>
            <% } %> 
        </select>
        <button>Submit</button>
    </form>
    <br>


    <form action="/search" id="userSearch" method="GET" onsubmit="searchUser()">
        <label for="search">Search Username:</label>
        <input type="text" name="search" placeholder="username" id="search">
        <button>Submit</button> 
    </form>
    
    
</body>
</html>